/* Styling usind Tailwind CSS */

@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.font-anybody{
    font-family: 'Anybody', sans-serif;
}

html{
    scroll-behavior: smooth;
}

